body {
    font-family: sans-serif;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: auto;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  .main-container {
      min-height: 100vh;
      background-color: #B59DFA;
      display: grid;
      place-items: center;
  }
  
  .content {
      display: flex;
      align-items: center;
      box-shadow: 9px 10px 20px -7px rgba(0,0,0,0.41);
      border-radius: 10px 
  
  }
  
  .password-input {
      padding: 12px;
      border-radius: 10px 0 0 10px;
      border: none;
      width: 15rem;
      font-size: 18px;
  }
  
  .toggle-button {
      padding: 12px;
      border: none;
      font-size: 18px;
      cursor: pointer;
      border-radius:  0 10px 10px 0; 
      background: white;
  }
  